* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul, ol {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 24px;
  
}

.header-nav-link {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding: 28px 0;
}

.header-nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding: 28px 0;
}

/* SECTION quick_purchase */

.quick_purchase {
  min-height: 600px;
  border-radius: 30px;
  background-color: #1e1823;
  margin-bottom: 72px;
}

.quick_purchase_main_link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
}

.quick_purchase_btn {
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  margin-right: 14px;
}

.quick_purchase_link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.quick_purchase_scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.quick_purchase_case1 {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.quick_purchase_wrapper {
  padding: 375px 40px 40px 40px;
}

/* benefits */

.benefits {
  background-color: #1e1823;
  padding: 50px 0;
}

.benefits_list {
  display: flex;
  padding: 0 36px;
  gap: 70px;
}

.benefits_item {
  flex-basis: calc((100% - 140px) / 3);
}

.benefits_headline {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits_text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* section ingridient magic */

.ingredients_magic {
  padding-top: 100px;
  padding-bottom: 50px;
}

.ingredients_magic_title  {
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 411px;
  margin: 0 auto;
  padding-bottom: 28px;
  span {
      color: #FD9222;
    }
}

.ingredients_magic_text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.ingredients_magic_items {
  display: flex;
  gap: 19px;
}

.ingredients_magic_item:first-child {
  background-color: #fd9222;
  color: #fff;
}

.ingredients_magic_item:nth-child(3) {
  background-color: #1e1823;
  color: #fff;
}

.ingredients_magic_item {
  height: 270px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 28px 32px;
  flex-basis: calc((100% - 57px) / 4);
}

.ingredients_magic_item_img {

}

.ingredients_magic_item_text {
  padding-top: 36px;
}

.ingredients_magic_item> {}

/* section made */

.chocolate_made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.chocolate_made_subject {
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
   span {
      color: #FD9222;
    }
}

.chocolate_made_img {
  max-height: 400px;
}

.chocolate_made_headline {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  max-width: 350px;
  margin-bottom: 28px;
  margin-top: 32px;
  padding-left: 32px;
}

.chocolate_made_flex_left {
  display: flex;
  gap: 20px;
}

.chocolate_made_flex_right {
  background-color: #FFFFFF;
  width: 516px;
  max-height: 400px;
  border: 1px solid red;
}

.chocolate_made_items {}

.chocolate_made_item {
  margin-bottom: 24px;
  max-width: 409px;
}

.chocolate_made_text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-left: 32px;
  width: 457px;
}